<h1>Your list</h1>
<%= @list.name %>
<% @list.bookmarks.each do |bookmark| %>
<ul>
<li><%= bookmark.comment %>
    <%= bookmark.movie.title %>
    <%= image_tag bookmark.movie.poster_url, width: 300 %>
    <%= link_to "Delete bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>

</ul>
<% end %>
<p><%=link_to "Add a bookmark to your list", new_list_bookmark_path(@list)%></p>
<p><%= link_to "Back to index", root_path %></p>
